*{
    margin: 0 auto;
    padding: 0;
}
#wrapper{
    width: 100%;
    height: 2000px;
    
}
#cabecalhoPrincipal{
    width: 100%;
    height: 115px;
    background-color:#9E270E;
    position: fixed;
    z-index: 1000;
}
#menu {
    z-index: 2;
    cursor: pointer;
    margin-top: 20px;
}
#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}
.bar {
    height: 5px;
    width: 100%;
    background-color: #ffff;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
#bar1 {
    transform: translateY(-4px);
}
#bar3 {
    transform: translateY(4px);
}
.nav {
    transition: 0.3s ease;
    display: none;
}
.nav ul {
    padding: 0 12px;
}
.nav li {
    list-style: none;
    padding: 10px;
}
.nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.nav li a:hover {
    font-weight: bold;
}
.menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
    
}
.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #9E270E, #9E270E);
    border-radius: 50%;
    transition: 0.3s ease;
    
}
.change {
    display: block;
}
.change .bar {
    background-color: white;
}
.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar2 {
    opacity: 0;
}
.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}
.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
    border:1px solid #000;
}
#logo {
    text-align: center; /* Centraliza o conteúdo dentro da div */
    margin: 10px 0; /* Adiciona um espaço ao redor da logo, opcional */
}
#logo img {
    max-width: 80px; /* Responsividade: ajusta o tamanho da imagem */
    height: auto; /* Mantém a proporção da imagem */
}
.search-box {
    position: absolute;
    top: 30px;
    right: 20px; /* Adiciona a caixa de busca à direita da tela */
    background: #9E270E;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    display: flex; /* Para garantir que os itens internos se alinhem corretamente */
}
.search-box:hover > input{
    width:100px;
    padding: 0 10px;
    color:#ffff ;
}
.search-box:hover > .icon{
    background:#000;
}
.icon:hover{
    transform: rotate(360deg) scale(0.8);
}
input{
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    background: none;
    font-size: 1.1rem;
    transition: 0.5s ease;
    line-height: 40px;
    color: #9E270E;
}
input::placeholder {
  color: #ffffff; /* Altere essa cor conforme desejado */
  opacity: 1; /* Garante que o placeholder não fique transparente */
}
.icon{
    float: right;
    width: 40px;
    font-size:1.3rem;
    height: 40px;
    border-radius: 50%;
    background: #9E270E;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
    
}
.icon img{
    width: 30px;
    height: 30px;
}
#sino {
    float: right;
    margin-right: 10px; /* ajuste conforme necessário */
    margin-top: 0; /* ajuste conforme necessário */
    cursor: pointer;
}

#sino img {
    width: 35px; /* ajuste conforme necessário */
    height: 40px;
}
main{
    width:100%;
}
#metro{
    width: 100%;
    opacity: 0.7;
}
#quadrado{
    width: 100%;
    height: 490px;
    background-color: #E6E3E3;
}
#quadrado h1{
    color: #000;
    text-align: center;
    padding: 10px;
    font-size: 45px;   
}
.conteudo-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-width: 200px;
    margin-top: 20px;
}
.conteudo {
    flex: 1; /* Permite que as seções ocupem espaço igual */
    margin: 10px; /* Espaçamento entre as seções */
}
.titulo{
    width: 260px;
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
}
.titulo h2{
    font-size: 30px;
}
.container {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaço entre os grupos */
    margin-left: 50px;
}
.row-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.circle-group {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.circle {
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9A3784; /* Ajuste a cor conforme necessário */
    border-radius: 50%;
    font-size: 20px;
    
}
.text-group {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Espaço entre o círculo e o texto */
}
.name {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-left: 4px;
}
a {
    text-decoration: none;
    margin-left: 5px;
}
.operacao {
    font-size: 17px;
    color: #000; /* Ajuste a cor conforme necessário */
    font-weight: bold;
    margin-top: 2px; /* Espaço entre o nome e "Operação Normal" */
}
#diamante{
    background-color:#949488 ;
}
#esmeralda{
    background-color: #009896;
}
#azul{
    background-color: #00378C;
}
#vermelho{
    background-color: #F51200;
}
#amarelo{
    background-color:#EFBA00 ;
}
#prata{
    background-color: #848D90;
}
#verde{
    background-color: #006D55;
}
#rubi{
    background-color: #C80857;
}
#coral{
    background-color: #F46C55;
}
#jade{
    background-color: #00B352;
}
#turquesa{
    background-color: #008AAB;
}
#safira{
    background-color: #1F2086;
}
#noticia{
    width: 80%;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}
#noticia h1{
    color: #000;
    font-size: 55px;
    font-weight: bold;
}
.slider { 
    display: block; 
    height: 300px; 
    width: 600px; 
    margin-top: 150px;
    position: relative;
    cursor: pointer; 
} 
.slider li { 
    list-style: none; 
    position: absolute; 
    align-items: center;
} 
.slider img {  
    width: 180%; 
    vertical-align: top; 
}
.slider input { 
    display: none; 
} 
.slider label { 
    background-color: #000; 
    bottom: 10px; 
    cursor: pointer; 
    display: block; 
    height: 10px; 
    position: absolute; 
    width: 10px; 
    z-index: 10; 
} 
.slider li:nth-child(1) label { 
    left: 10px;
    top: 435px;
    width: 10px; 
    height: 10px;
} 
.slider li:nth-child(2) label { 
    left: 40px; 
    top: 435px;
    width: 10px; 
    height: 10px;
} 
.slider li:nth-child(3) label { 
    left: 70px; 
    top: 435px;
    width: 10px; 
    height: 10px;
} 
.slider li:nth-child(4) label { 
    left: 100px; 
    top: 435px;
    width: 10px; 
    height: 10px;
} 
.slider li:nth-child(5) label { 
    left: 130px; 
    top: 435px;
    width: 10px; 
    height: 10px;
} 
.slider img { 
    opacity: 0; 
    visibility: hidden; 
} 
.slider li input:checked ~ img { 
    opacity: 1; 
    visibility: visible; 
    z-index: 10; 
} 
.footer{
    width: 100%;
    height: 115px;
    background-color:#9E270E;
    justify-content: space-between;
    align-items: center;
    
    display: flex;
}
footer .menu {
    display: flex;
    gap: 20px;
}

.footer .menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.footer .logo2 {
    text-align: center;
    font-size: 18px;
}

.footer .logo2 img {
    width: 70px;
    vertical-align: middle;
    text-align: center;
}

.footer .logo2 p {
    margin: 10px 0 0;
    font-size: 12px;
    color: #fff;
}

.footer .social {
    display: flex;
    gap: 95px;
}

.footer .social img {
    width: 40px;
    height: 40px;
}
